@mixin arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(var(--black-accent-color1-rgb), 0.8);
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 2.5em;
  box-shadow: 0 0 5px 0 rgba(var(--black-accent-color1-rgb), 0.8);
  transition: 0.1s;

  &:hover {
    background: rgba(var(--black-accent-color1-rgb), 1);
    box-shadow: 0 0 5px 0 rgba(var(--black-accent-color1-rgb), 1);
  }

  &:active {
    transform: scale(0.9);
  }
}

#arrows {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 50px);
  margin: 0 20px;
  z-index: 5;

  button.left {
    @include arrow;
    padding-right: 5px;
  }

  button.right {
    @include arrow;
    padding-left: 5px;
  }
}
