button.left {
  @include arrow;
  left: 1%;
  padding-right: 5px;
}

button.right {
  @include arrow;
  right: 1%;
  padding-left: 5px;
}

@media (max-width: 1600px) {
  button.left {
    left: 0.5%;
  }

  button.right {
    right: 0.5%;
  }
}

@media (max-width: 1280px) {
  button.left,
  button.right {
    @include arrowSize(40px, 40px);
  }
}

@media (max-width: 1024px) {
  button.left,
  button.right {
    @include arrowSize(50px, 50px);
  }

  button.left {
    left: 1%;
  }

  button.right {
    right: 1%;
  }
}

@media (max-width: 768px) {
  button.left,
  button.right {
    @include arrowSize(45px, 45px);
  }
}

@media (max-width: 500px) {
  button.left,
  button.right {
    @include arrowSize(40px, 40px);
  }
}

@media (min-width: 1920px) {
  button.left {
    left: calc(1920px * 0.01);
  }

  button.right {
    right: calc(1920px * 0.01);
  }
}
