#carousel-container {
  overflow: hidden;

  #carousel {
    position: relative;
    height: 100vh;

    div.carousel-element {
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease-in-out;
      pointer-events: none;
    }

    div.carousel-element.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}
