nav#navigation-red,
nav#navigation-green,
nav#navigation-violet {
  @include navigation();
}

nav#navigation-red {
  a {
    h1 {
      span {
        color: var(--red-primary-color);
      }
    }
  }
}

nav#navigation-green {
  a {
    h1 {
      span {
        color: var(--green-primary-color);
      }
    }
  }
}

nav#navigation-violet {
  a {
    h1 {
      span {
        color: var(--violet-primary-color);
      }
    }
  }
}
