nav#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(var(--background-rgb), 0.8);
  backdrop-filter: blur(10px);
  cursor: default;

  h1 {
    font-size: calc(26px);
    padding: 5px 0;

    span.color {
      color: var(--red-primary-color);
    }
  }
}
