footer {
  background: #151515;
  margin-top: 50px;
  border-top: 2px solid #252525;

  .footer-content {
    display: flex;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      margin: 25px 50px;
      color: var(--text-color);
      text-decoration: none;

      span.icon {
        display: flex;
        align-items: center;
        margin-left: 5px;
        font-size: 1.5em;
      }
    }
  }
}
