.img-container {
  @include sectionImageContainer(55%);

  .red-corners,
  .green-corners,
  .violet-corners {
    span.square {
      @include sectionImageCorners();

      &:nth-child(1) {
        left: -5px;
        top: -5px;
      }

      &:nth-child(2) {
        right: -5px;
        bottom: -5px;
      }
    }
  }
}

.img-container-2 {
  @include sectionImageContainer(60%);

  .red-corners,
  .green-corners,
  .violet-corners {
    span.square {
      @include sectionImageCorners();

      &:nth-child(1) {
        left: -5px;
        bottom: -5px;
      }

      &:nth-child(2) {
        right: -5px;
        top: -5px;
      }
    }
  }
}

.img-container-mobile {
  @include sectionImageContainer(40%);

  .red-corners,
  .green-corners,
  .violet-corners {
    span.square {
      @include sectionImageCorners();

      &:nth-child(1) {
        left: -5px;
        bottom: -5px;
      }

      &:nth-child(2) {
        right: -5px;
        top: -5px;
      }
    }
  }
}

.img-container,
.img-container-2,
.img-container-mobile {
  .red-corners {
    span.square {
      background: var(--red-primary-color);
      box-shadow: 0 0 10px 1px var(--red-primary-color);
    }
  }
  .green-corners {
    span.square {
      background: var(--green-primary-color);
      box-shadow: 0 0 10px 1px var(--green-primary-color);
    }
  }

  .violet-corners {
    span.square {
      background: var(--violet-primary-color);
      box-shadow: 0 0 10px 1px var(--violet-primary-color);
    }
  }
}

@media (max-width: 1024px) {
  .img-container-mobile {
    width: 95%;
    img {
      height: auto;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .img-container-mobile {
    width: 90%;
  }
}
