#section-mobile-text-red {
  display: flex;
  align-items: center;
  margin: 200px 0 100px 0;

  .text-container {
    width: 60%;
    padding: 0 100px;

    p {
      font-size: 1.1em;
      margin: 25px 0;
    }
  }
}

@media (max-width: 1024px) {
  #section-mobile-text-red {
    flex-direction: column;
    margin: 0;
    width: 100%;
    .text-container {
      width: 95%;
      padding: 0;
      p {
        font-size: 18px;
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #section-mobile-text-red {
    .text-container {
      width: 90%;
      p {
        font-size: 15px;
      }
    }
  }
}
