#section-mobile-text-red {
  display: flex;
  align-items: center;
  margin: 200px 0 100px 0;

  .text-container {
    width: 60%;
    padding: 0 100px;

    h2 {
      color: var(--red-primary-color);
      font-size: 2em;
    }

    p {
      font-size: 1.1em;
      margin: 25px 0;
      color: var(--darker-text-color);
    }
  }
}

@media (max-width: 1600px) {
  #section-mobile-text-red {
    margin: 175px 0;
    .text-container {
      padding: 0 100px;
    }
  }
}

@media (max-width: 1280px) {
  #section-mobile-text-red {
    margin: 125px 0;
    .text-container {
      padding: 0 75px;
    }
  }
}

@media (max-width: 1024px) {
  #section-mobile-text-red {
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;

    .text-container {
      width: 95%;
      padding: 0;

      h2 {
        margin-top: 35px;
      }

      p {
        font-size: 18px;
        margin-top: 10px;

        &:last-child {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #section-mobile-text-red {
    .text-container {
      width: 90%;
      p {
        font-size: 15px;
      }
    }
  }
}
