nav#navigation-green {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(var(--background-rgb), 0.8);
  backdrop-filter: blur(10px);
  cursor: default;
  height: 50px;

  h1 {
    font-size: calc(26px);
    padding: 5px 0;
    cursor: pointer;

    span {
      color: var(--green-primary-color);
    }
  }
}
