.red-page {
  overflow: hidden;

  .content {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;

    .btn-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .red-page {
    .content {
      width: 100%;

      .btn-group {
        width: 95%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .red-page {
    .content {
      .btn-group {
        width: 90%;
      }
    }
  }
}

@media (min-width: 1920px) {
  .content {
    max-width: calc(1920px * 0.8);
  }
}
