.red-page {
  ::selection {
    background-color: var(--red-secondary-color);
    color: white;
  }
  .content {
    width: 80%;
    margin: 0 auto;

    .btn-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
