:root {
  --text-color: #eeeeee;
  --darker-text-color: #bdbdbd;
  --font-family: "Rubik", sans-serif;

  --background: #0a0a0a;
  --background-rgb: 10, 10, 10;
  --black-accent-color1-rgb: 15, 15, 15;
  --black-accent-color2: #141414;
  --black-accent-color2-rgb: 20, 20, 20;

  --red-primary-color: #ff0040;
  --green-primary-color: #00ff15;
  --violet-primary-color: #6a00ff;

  --blue-selection-text: #00d5ff;
  --blue-selection-bg: hsla(201, 100%, 36%, 0.25);
}
