:root {
  --text-color: #eeeeee;
  --background: #0a0a0a;
  --background-rgb: 10, 10, 10;
  --black-accent-color1: #0f0f0f;
  --black-accent-color2: #141414;
  --font-family: "Rubik", sans-serif;

  --red-primary-color: #ff0040;
  --red-secondary-color: #990026;
  --red-selection-color: #66001a;

  --green-primary-color: #00ff15;
  --green-secondary-color: #00990d;
  --green-selection-color: #006608;

  --violet-primary-color: #6a00ff;
  --violet-secondary-color: #400099;
  --violet-selection-color: #2a0066;
}
