@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "./variables";
@import "./components/red/NavigationRed.scss";
@import "./components/Arrows.scss";
@import "./components/red/CardHomeRed.scss";
@import "./components/red/ImgBackgroundRed.scss";

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-color);
}
