@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "./variables.scss";
@import "./components/Arrow.scss";
@import "./components/Carousel/Carousel.scss";
@import "./components/Carousel/Elements/CarCarouselPage.scss";
@import "./components/Carousel/Elements/ImgBackground.scss";
@import "./components/Navigation.scss";
@import "./components/Carousel/Elements/CardCarouselElement.scss";
@import "./components/Footer.scss";
@import "./components/Subpage/Elements/MainContainer.scss";
@import "./components/Subpage/Elements/PageHeroDescription.scss";
@import "./components/Subpage/Elements/Section.scss";
@import "./components/Subpage/Elements/SectionImg.scss";
@import "./components/Subpage/CarSubPage.scss";

::selection {
  background-color: var(--blue-selection-bg);
  color: var(--blue-selection-text);
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-color);
  background: var(--background);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
