@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "./variables";
@import "./components/Navigation.scss";
@import "./components/Arrows.scss";
@import "./components/CardHome.scss";

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  $color: rgb(20, 20, 20); // --black-accent-color2
  background-image: linear-gradient(
      to right,
      rgba($color, 0.8),
      transparent,
      transparent,
      transparent
    ),
    url("../ferrari-home.jpg");
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  color: var(--text-color);
  overflow: hidden;
}
