nav#navigation-red {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(var(--background-rgb), 0.2);
  backdrop-filter: blur(15px);
  cursor: default;
  height: 50px;
  border-bottom: 1px solid rgba(125, 125, 125, 0.25);
  z-index: 10000;

  a {
    text-decoration: none;
    text-transform: none;

    h1 {
      font-size: calc(26px);
      padding: 5px 0;
      cursor: pointer;
      color: var(--text-color);

      span {
        color: var(--red-primary-color);
      }
    }
  }
}
